*{
    margin: 0px;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
  }

/*change font size to em*/

h1{
    font-family:Arial, Helvetica, sans-serif;
    text-align: center;
    font-size: 3em;
    color: #3e5438;
    margin-top: 25px;
}

h2{
    font-family:Arial, Helvetica, sans-serif;
    margin-top: 2em;
}

h3{
    font-family:Arial, Helvetica, sans-serif;
}

/*navbar*/

.navli{
    display: inline;
    text-align: center;
    border: 1px solid #3e5438;
    padding: 12px;
    margin: 12px;
}

.current{
    background:#6a856249; 
}

.navli:hover{
    background-color: #6a8562;
    transition-duration: 0.3s;
}

/*text*/

p, label, .list, .extable{
    font-family:Georgia, 'Times New Roman', Times, serif;
    font-size: 1em;
    margin: 15px;
    margin-left: 0px;
}

input:focus{
    background: #6a856224;
}

#bio{
    float: right;
}

a{
    text-decoration: none;
    font-family:Georgia, 'Times New Roman', Times, serif;
}

main{
    margin-top: 30px;
    margin-right: 50px;   
    margin-left: 50px;
    margin-bottom: 50px;
}

footer{
    text-align: center;
    padding: 25px;
    background-color: #6a856263;
}